<div class="modal fade" id="<%= modalId %>" tabindex="-1" aria-labelledby="<%= modalId %>Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%= modalId %>Label"></h5>Edit Profile
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="form-group mb-2">
          <div class="form-group mb-2">
            <label for="#">First Name</label>
            <!--name attribute is important, it identifies data we are sending -->
            <input
              class="form-control firstName"
              type="text"
              name="firstName"
              placeholder="firstName"
              style="width: 430px; margin: 1em"
            />

            <label for="#">Last Name</label>
            <!--name attribute is important, it identifies data we are sending -->
            <input
              class="form-control lastName"
              type="text"
              name="lastName"
              placeholder="lastName"
              style="width: 430px; margin: 1em"
            />


            <label for="#">Email</label>
            <!--name attribute is important, it identifies data we are sending -->
            <input
              class="form-control email"
              type="email"
              name="email"
              placeholder="email"
              style="width: 430px; margin: 1em"
            />

          </div>
        </div>

        </br>
        </br>

      <div class="modal-footer">
        <!-- Close / Cancel -->
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        <!-- Save / Submit -->
        <button type="button" class="btn btn-primary edit-user-btn">Save Changes</button>

      </div>
      </div>
    </div>
  </div>
</div>
